<style>
    table.dataTable thead .sorting:after,
    table.dataTable thead .sorting:before,
    table.dataTable thead .sorting_asc:after,
    table.dataTable thead .sorting_asc:before,
    table.dataTable thead .sorting_asc_disabled:after,
    table.dataTable thead .sorting_asc_disabled:before,
    table.dataTable thead .sorting_desc:after,
    table.dataTable thead .sorting_desc:before,
    table.dataTable thead .sorting_desc_disabled:after,
    table.dataTable thead .sorting_desc_disabled:before {
        bottom: .5em;
    }

    th {
        cursor: pointer;
        text-align: inherit;

    }
</style>
<div class="row">
    <div class="card ml-2 mr-2 mb-2 col-xl shadow-sm">
        <div class="collapse" id="navbarToggleExternalContent">
            <form action="/dataKendaraan/" method="GET">
                <div class="bg-transparent mt-3 mx-3">
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="jenis_kendaraan">Jenis Kendaraan</label>
                            <select id="jenis_kendaraan" name="jenis_kendaraan" class="form-control form-control-sm">
                                <option value="">Kosongkan</option>
                                <% for (let i in kodeBarang) { %>
                                <option value="<%= kodeBarang[i].kode_barang %>">
                                    <%= kodeBarang[i].kode_barang %> - <%= kodeBarang[i].nama_barang %></option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group col">
                            <label for="nomor_urut">Nomor Urut</label>
                            <input type="text" class="form-control form-control-sm" id="nomor_urut" name="nomor_urut"
                                placeholder="Nomor Urut">
                        </div>
                        <div class="form-group col">
                            <label for="kode_kondisi">Kode Kondisi</label>
                            <select id="kode_kondisi" name="kode_kondisi" class="form-control form-control-sm">
                                <% for (let i in kodeKondisi) { %>
                                <option value="">Kosongkan</option>
                                <option value="<%= kodeKondisi[i].kode_kondisi %>">
                                    <%= kodeKondisi[i].kode_kondisi %> - <%= kodeKondisi[i].kondisi %>
                                </option>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group col">
                            <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                <label for="">Search :</label>
                                <input type="search" id="data" name="data" class="form-control form-control-sm"
                                    placeholder="" aria-controls="DataTables_Table_0" value="<%= search %>">
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" value="submit" hidden>
            </form>
        </div>
        <!-- end collapse -->
        <div class="navbar-light text-center mt-3">
            <button class="navbar-toggler bg-white border border-secondary" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <!--end filter & search -->

        <!-- table -->
        <div class="card-body">
            <div class="table-responsive datatable table-bordered">
                <table id="myTable" class="table table-bordered table-hover datatable-init" id="dataTable" width="100%"
                    cellspacing="0">
                    <thead>
                        <tr role="row" class="text-center">
                            <th onclick="sortTable(0)">Jenis Kendaraan <span><i class="fas fa-fw fa-sort"></i></span>
                            </th>
                            <th onclick="sortTable(1)">Kode Unit <span><i class="fas fa-fw fa-sort"></i></span></th>
                            <th onclick="sortTable(2)">Nomor Urut <span><i class="fas fa-fw fa-sort"></i></span></th>
                            <th onclick="sortTable(3)">Nomor Inventaris <span><i class="fas fa-fw fa-sort"></i></span>
                            </th>
                            <th onclick="sortTable(4)">Merk/Tipe <span><i class="fas fa-fw fa-sort"></i></span></th>
                            <th onclick="sortTable(5)">Nomor Polisi <span><i class="fas fa-fw fa-sort"></i></span></th>
                            <th onclick="sortTable(6)">Nomor BPKB <span><i class="fas fa-fw fa-sort"></i></span></th>
                            <th onclick="sortTable(7)">Nomor Mesin <span><i class="fas fa-fw fa-sort"></i></span></th>
                            <th onclick="sortTable(8)">Nomor Rangka <span><i class="fas fa-fw fa-sort"></i></span></th>
                            <th onclick="sortTable(9)">Tahun Pembuatan <span><i class="fas fa-fw fa-sort"></i></span>
                            </th>
                            <th onclick="sortTable(10)">Tanggal Beli <span><i class="fas fa-fw fa-sort"></i></span></th>
                            <th onclick="sortTable(11)">Asal <span><i class="fas fa-fw fa-sort"></i></span></th>
                            <th onclick="sortTable(12)">Harga Satuan <span><i class="fas fa-fw fa-sort"></i></span></th>
                            <th onclick="sortTable(13)">Kondisi <span><i class="fas fa-fw fa-sort"></i></span></th>
                            <th onclick="sortTable(14)">Penanggung Jawab <span><i class="fas fa-fw fa-sort"></i></span>
                            </th>
                            <th onclick="sortTable(15)">Keterangan <span><i class="fas fa-fw fa-sort"></i></span></th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i in kendaraan) { %>
                        <tr>
                            <td>
                                <%= kendaraan[i].kode_barang %>
                            </td>
                            <td>
                                <%= kendaraan[i].kode_lokasi %>
                            </td>
                            <td>
                                <%= kendaraan[i].nomor_urut_kendaraan %>
                            </td>
                            <td>
                                <%= kendaraan[i].nomor_inventaris_kendaraan %>
                            </td>
                            <td>
                                <%= kendaraan[i].merk_tipe_kendaraan %>
                            </td>
                            <td>
                                <%= kendaraan[i].nomor_polisi %>
                            </td>
                            <td>
                                <%= kendaraan[i].nomor_bpkb %>
                            </td>
                            <td>
                                <%= kendaraan[i].nomor_mesin %>
                            </td>
                            <td>
                                <%= kendaraan[i].nomor_rangka %>
                            </td>
                            <td>
                                <%= kendaraan[i].tahun_buat %>
                            </td>
                            <td>
                                <%= kendaraan[i].tahun_beli %>
                            </td>
                            <td>
                                <%= kendaraan[i].asal %>
                            </td>
                            <td>
                                <%= kendaraan[i].harga_kendaraan %>
                            </td>
                            <td>
                                <%= kendaraan[i].kode_kondisi %>
                            </td>
                            <td>
                                <%= kendaraan[i].kode_user %>
                            </td>
                            <td>
                                <%= kendaraan[i].keterangan_kendaraan %>
                            </td>
                            <td class="text-center">
                                <a class="btn btn-warning btn-block"
                                    href="/dataKendaraan/<%= kendaraan[i].nomor_kendaraan %>/edit">Edit</a>
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <% var paginationFor = "dataKendaraan" %>
            <%- include('../templates/paginationKendaraan', {
                paginationFor: paginationFor, 
                search: search,
                jenis_kendaraan: jenis_kendaraan,
                nomor_urut: nomor_urut,
                kode_kondisi: kode_kondisi,}) -%>
        </div>
        <!--end table-->

        <!-- footer pagination -->
        <!--end footer-->

    </div>
</div>

<script>
    function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("myTable");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc";
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                /*check if the two rows should switch place,
                based on the direction, asc or desc:*/
                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        //if so, mark as a switch and break the loop:
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                //Each time a switch is done, increase this count by 1:
                switchcount++;
            } else {
                /*If no switching has been done AND the direction is "asc",
                set the direction to "desc" and run the while loop again.*/
                if (switchcount == 0 && dir == "asc") {
                    dir = "desc";
                    switching = true;
                }
            }
        }
    }
</script>